<!DOCTYPE html>
<html>
<head>
  <title>TubeAlert</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=AIzaSyBTmz4EWQwAs64zepvDyF9zC4Y2HHmywm0" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
